In [1]:
import tensorflow as tf

In [2]:
import keras

In [10]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("../data/01_raw/annotations.csv")

In [18]:
df

,image_id,class,bounds
0,0918a15c-8cfb-4da7-92cf-1f5098a76760,oil-storage-tank,"(1205, 1493, 1231, 1516)"
1,0918a15c-8cfb-4da7-92cf-1f5098a76760,oil-storage-tank,"(1479, 1756, 1507, 1776)"
2,0918a15c-8cfb-4da7-92cf-1f5098a76760,oil-storage-tank,"(1478, 1786, 1518, 1815)"
3,0918a15c-8cfb-4da7-92cf-1f5098a76760,oil-storage-tank,"(2132, 2163, 2148, 2178)"
4,0918a15c-8cfb-4da7-92cf-1f5098a76760,oil-storage-tank,"(2010, 2127, 2024, 2141)"
...,...,...,...
13587,acda8cfb-ee42-4036-9714-4d55051051dd,oil-storage-tank,"(1192, 1934, 1203, 1948)"
13588,e82b10d3-a51c-4be1-b448-4be0f0340aac,oil-storage-tank,"(1598, 1649, 1610, 1662)"
13589,e82b10d3-a51c-4be1-b448-4be0f0340aac,oil-storage-tank,"(2419, 1495, 2435, 1515)"
13590,e82b10d3-a51c-4be1-b448-4be0f0340aac,oil-storage-tank,"(2406, 1522, 2422, 1541)"
13591,da27f98f-d6ec-4f4c-b94e-293ff24becea,oil-storage-tank,"(1266, 2204, 1277, 2215)"

In [43]:
df.dtypes

image_id    object
class       object
bounds      object
dtype: object

In [44]:
bounds = df.bounds.copy()

In [55]:
from ast import literal_eval

def expand_bbox_coordinates(row: pd.Series):
        bbox_as_tuple = literal_eval(row['bounds'])
        row['bbox_x1'] = bbox_as_tuple[0] 
        row['bbox_y1'] = bbox_as_tuple[1] 
        row['bbox_x2'] = bbox_as_tuple[2] 
        row['bbox_y2'] = bbox_as_tuple[3] 

        return row

df.apply(expand_bbox_coordinates, 1)

,image_id,class,bounds,bbox_x1,bbox_y1,bbox_x2,bbox_y2
0,0918a15c-8cfb-4da7-92cf-1f5098a76760,oil-storage-tank,"(1205, 1493, 1231, 1516)",1205,1493,1231,1516
1,0918a15c-8cfb-4da7-92cf-1f5098a76760,oil-storage-tank,"(1479, 1756, 1507, 1776)",1479,1756,1507,1776
2,0918a15c-8cfb-4da7-92cf-1f5098a76760,oil-storage-tank,"(1478, 1786, 1518, 1815)",1478,1786,1518,1815
3,0918a15c-8cfb-4da7-92cf-1f5098a76760,oil-storage-tank,"(2132, 2163, 2148, 2178)",2132,2163,2148,2178
4,0918a15c-8cfb-4da7-92cf-1f5098a76760,oil-storage-tank,"(2010, 2127, 2024, 2141)",2010,2127,2024,2141
...,...,...,...,...,...,...,...
13587,acda8cfb-ee42-4036-9714-4d55051051dd,oil-storage-tank,"(1192, 1934, 1203, 1948)",1192,1934,1203,1948
13588,e82b10d3-a51c-4be1-b448-4be0f0340aac,oil-storage-tank,"(1598, 1649, 1610, 1662)",1598,1649,1610,1662
13589,e82b10d3-a51c-4be1-b448-4be0f0340aac,oil-storage-tank,"(2419, 1495, 2435, 1515)",2419,1495,2435,1515
13590,e82b10d3-a51c-4be1-b448-4be0f0340aac,oil-storage-tank,"(2406, 1522, 2422, 1541)",2406,1522,2422,1541
13591,da27f98f-d6ec-4f4c-b94e-293ff24becea,oil-storage-tank,"(1266, 2204, 1277, 2215)",1266,2204,1277,2215

In [3]:
len(df) / 98

138.69387755102042

In [20]:
image_filenames = os.listdir("../data/01_raw/images/")

In [21]:
len(image_filenames)

98

In [28]:
image_names = [image_filename[:-4] for image_filename in image_filenames]

In [74]:
df[df['image_id'] == image_names[0]]

,image_id,class,bounds
7205,6ebea6b4-df27-4d4c-a306-406643675cc7,oil-storage-tank,"(1435, 1229, 1445, 1239)"
7206,6ebea6b4-df27-4d4c-a306-406643675cc7,oil-storage-tank,"(1423, 1223, 1435, 1234)"
7207,6ebea6b4-df27-4d4c-a306-406643675cc7,oil-storage-tank,"(1411, 1220, 1423, 1232)"
7208,6ebea6b4-df27-4d4c-a306-406643675cc7,oil-storage-tank,"(1402, 1218, 1410, 1228)"
7209,6ebea6b4-df27-4d4c-a306-406643675cc7,oil-storage-tank,"(1415, 1234, 1425, 1243)"
...,...,...,...
7314,6ebea6b4-df27-4d4c-a306-406643675cc7,oil-storage-tank,"(1762, 1420, 1766, 1426)"
7315,6ebea6b4-df27-4d4c-a306-406643675cc7,oil-storage-tank,"(1762, 1429, 1767, 1434)"
7316,6ebea6b4-df27-4d4c-a306-406643675cc7,oil-storage-tank,"(1855, 1575, 1871, 1593)"
7317,6ebea6b4-df27-4d4c-a306-406643675cc7,oil-storage-tank,"(1852, 1551, 1868, 1571)"
13331,6ebea6b4-df27-4d4c-a306-406643675cc7,oil-storage-tank,"(1397, 1440, 1441, 1485)"

In [30]:
train_image_names, test_image_names = train_test_split(image_names, test_size=0.2)
val_image_names, test_image_names = train_test_split(test_image_names, test_size=0.5)

In [31]:
print(len(train_image_names))
print(len(val_image_names))
print(len(test_image_names))

78
10
10

In [32]:
val_image_names

['5ffdf3ae-89d3-47b1-be54-3475bf1edcdc',
 '3542adbf-145b-4986-8f01-76cfffa9dcca',
 'e00e4faa-9131-49cf-8fe8-0007f98a9a98',
 '4380cef3-3879-4bb9-9d21-40bc8100a8fd',
 '8759c186-080b-4bd5-ad9b-8c4783458dea',
 '7532ed15-8169-486a-a371-938e6355e893',
 '47295b17-2b9f-4e89-a547-48eac3a112a7',
 '8a7f2192-6b21-4fa8-af78-1ace4b66bd49',
 '22555a1d-f5c6-4e3c-959e-459d8e52dce8',
 'e019a7e8-154c-4f3f-946d-a44928dd4075']

In [36]:
train_df = df[df['image_id'].isin(train_image_names)]
valid_df = df[df['image_id'].isin(val_image_names)]
test_df = df[df['image_id'].isin(test_image_names)]

In [38]:
train_df.to_csv('../data/02_intermediate/annotations/train.csv', index=False)
valid_df.to_csv('../data/02_intermediate/annotations/valid.csv', index=False)
test_df.to_csv('../data/02_intermediate/annotations/test.csv', index=False)

In [39]:
import shutil

In [40]:
for image_name in train_image_names:
    shutil.copy(f"../data/01_raw/images/{image_name}.jpg", f"../data/02_intermediate/images/train/{image_name}.jpg")

In [41]:
for image_name in val_image_names:
    shutil.copy(f"../data/01_raw/images/{image_name}.jpg", f"../data/02_intermediate/images/valid/{image_name}.jpg")

In [42]:
for image_name in test_image_names:
    shutil.copy(f"../data/01_raw/images/{image_name}.jpg", f"../data/02_intermediate/images/test/{image_name}.jpg")

In [81]:
from __future__ import annotations
from pathlib import Path
from object_detection.utils import dataset_util, label_map_util
from ast import literal_eval
import tensorflow.compat.v1 as tf

def create_tf_records_from_files(
    image_path: str | Path, annotations_file_path: str | Path, labels_path: str | Path
    ) -> list[tf.train.Example]:

    image_path = Path(image_path)
    annotations_file_path = Path(annotations_file_path)
    label_map = label_map_util.load_labelmap(labels_path)

    annotations = pd.read_csv(annotations_file_path)

    def expand_bbox_coordinates(row: pd.Series):
        bbox_as_tuple = literal_eval(row['bounds'])
        row['bbox_x1'] = bbox_as_tuple[0] 
        row['bbox_y1'] = bbox_as_tuple[1] 
        row['bbox_x2'] = bbox_as_tuple[2] 
        row['bbox_y2'] = bbox_as_tuple[3] 

        return row

    annotations = annotations.apply(expand_bbox_coordinates, 1)

    annotations.drop(['class', 'bounds'], axis=1, inplace=True)

    image_filenames = os.listdir(image_path)

    tf_records = []

    for image_filename in image_filenames:
        with tf.gfile.GFile(image_path / image_filename, 'rb') as fid:
            encoded_jpg = fid.read()

        image_width = 2560
        image_height = 2560

        filename = image_filename.encode('utf8')
        image_format = b'jpg'

        annotations_filtered = annotations[annotations['image_id'] == image_filename[:-4]]

        xmins = annotations_filtered['bbox_x1'].values
        xmaxs = annotations_filtered['bbox_x2'].values
        ymins = annotations_filtered['bbox_y1'].values
        ymaxs = annotations_filtered['bbox_y2'].values

        class_name = 'OST'.encode('utf8')

        classes_text = [class_name for i in range(len(xmins))]
        classes = [1 for i in range(len(xmins))]
        
        tf_records.append(
            tf.train.Example(
                features=tf.train.Features(
                    feature={
                    'image/height': dataset_util.int64_feature(image_height),
                    'image/width': dataset_util.int64_feature(image_width),
                    'image/filename': dataset_util.bytes_feature(filename),
                    'image/source_id': dataset_util.bytes_feature(filename),
                    'image/encoded': dataset_util.bytes_feature(encoded_jpg),
                    'image/format': dataset_util.bytes_feature(image_format),
                    'image/object/bbox/xmin': dataset_util.float_list_feature(xmins),
                    'image/object/bbox/xmax': dataset_util.float_list_feature(xmaxs),
                    'image/object/bbox/ymin': dataset_util.float_list_feature(ymins),
                    'image/object/bbox/ymax': dataset_util.float_list_feature(ymaxs),
                    'image/object/class/text': dataset_util.bytes_list_feature(classes_text),
                    'image/object/class/label': dataset_util.int64_list_feature(classes),
                    }
                )
            )
        )

    return tf_records

In [82]:
tf_records = create_tf_records_from_files(
    '../data/02_intermediate/images/valid/',
    '../data/02_intermediate/annotations/valid.csv',
    '../data/02_intermediate/annotations/label_map.pbtxt')

In [84]:
def save_tf_records_to_file(tf_records: list[tf.train.Example], output_path: str | Path):
    writer = tf.python_io.TFRecordWriter(output_path)
    
    for record in tf_records:
        writer.write(record.SerializeToString())
    writer.close()

In [85]:
save_tf_records_to_file(tf_records, '../data/02_intermediate/annotations/valid.record')

In [87]:
tf_train_records = create_tf_records_from_files(
    '../data/02_intermediate/images/train/',
    '../data/02_intermediate/annotations/train.csv',
    '../data/02_intermediate/annotations/label_map.pbtxt')

tf_test_records = create_tf_records_from_files(
    '../data/02_intermediate/images/test/',
    '../data/02_intermediate/annotations/test.csv',
    '../data/02_intermediate/annotations/label_map.pbtxt')

save_tf_records_to_file(tf_train_records, '../data/02_intermediate/annotations/train.record')

save_tf_records_to_file(tf_test_records, '../data/02_intermediate/annotations/test.record')